<link rel="stylesheet" type="text/css" href="/bRecipe/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/bRecipe/css/component.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <script src="/bRecipe/js/modernizr.custom.js"></script>

<script>
$(document).ready(function(){
    $("#getReq").click(function(){
        $.get("https://km2bai6m1g.execute-api.us-east-1.amazonaws.com/prod/bRecipeDB?TableName=Recipes", function(data, status){
             alert("Data: " + data + "\nStatus: " + status);
            $("#result").text(JSON.stringify(data)  );
        });
      });
    });
</script>
<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
<script>
$(document).ready(function(){
    var tableHTML = '<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for recipes.."> <table id="myTable"> <tr class="header">  <th></th><th style="width:100%;">Recipes</th><th></th><th></th></tr>';    
    $.get("https://km2bai6m1g.execute-api.us-east-1.amazonaws.com/prod/bRecipeDB?TableName=Recipes", function(table, status){            
            var nItems = table.Items.length;
            for (var i = 0; i <nItems ; i++) {
                /*
                tableHTML+= '<tr><td>'+table.Items[i].RecipeName+'</td><td><button  onclick="setRecipeContent('+i+')">Details</button></td></tr>';
                */
                tableHTML+= '<tr><td><img class="tableImage" style="display:block;border-radius:50%" width="40px" height="40px" src="'+table.Items[i].ImageLink+'" /></td><td>'+table.Items[i].RecipeName+'</td><td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a class="hi-icon hi-icon-list" onclick="setRecipeIngredients('+i+')"></a></div></td><td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a class="hi-icon hi-icon-bookmark" onclick="setRecipeContent('+i+')"></a> </td></tr>';


                /*<tr>'+table.Items[i].RecipeName+'</tr>';*/

            };
            tableHTML+='</table>';
            document.getElementById('recipeTable').innerHTML = tableHTML;


            /*
                console.log(table.Items.length);
                document.getElementById('recipeTable').innerHTML = '<table id="myTable"> <tr class="header"> <th style="width:60%;">Name</th> <th style="width:40%;">Country</th></tr><tr class ="tableFoods"><td>Alfreds Futterkiste</td><td>Germany</td></tr><tr><td>Berglunds snabbkop</td><td>Sweden</td></tr><tr><td>Island Trading</td><td>UK</td></tr><tr><td>Koniglich Essen</td><td>Germany</td></tr></table>';            
            */
            });

});

</script>
<script type="text/javascript">
function setRecipeContent(rID) {
  var tableHTML = '';    
    $.get("https://km2bai6m1g.execute-api.us-east-1.amazonaws.com/prod/bRecipeDB?TableName=Recipes", function(table, status){            
            tableHTML+='<h1 class="page-header">'+table.Items[rID].RecipeName+'</h1>';
            tableHTML+='<div style="vertical-align:middle; text-align:center"><img src ="'+table.Items[rID].ImageLink+'" height = "200px" style="object-fit:cover" align="middle"></div>';
            tableHTML+='<h2 class="page-header">Ingredients</h1>';
            tableHTML+='<p>'+replaceAll(table.Items[rID].RecipeIngredients,'\n', "<br>")+'</p>';
            tableHTML+='<h2 class="page-header">Directions</h1>';
            tableHTML+='<p>'+replaceAll(table.Items[rID].RecipeDirections,'\n', "<br>")+'</p>';
            document.getElementById('recipeContent').innerHTML = tableHTML;


            /*
                console.log(table.Items.length);
                document.getElementById('recipeTable').innerHTML = '<table id="myTable"> <tr class="header"> <th style="width:60%;">Name</th> <th style="width:40%;">Country</th></tr><tr class ="tableFoods"><td>Alfreds Futterkiste</td><td>Germany</td></tr><tr><td>Berglunds snabbkop</td><td>Sweden</td></tr><tr><td>Island Trading</td><td>UK</td></tr><tr><td>Koniglich Essen</td><td>Germany</td></tr></table>';            
            */
            });
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
  w3_close();
}
  
}
function setRecipeIngredients(rID) {
  var tableHTML = '';    
    $.get("https://km2bai6m1g.execute-api.us-east-1.amazonaws.com/prod/bRecipeDB?TableName=Recipes", function(table, status){            
            tableHTML+='<h1 class="page-header">Ingredients: '+table.Items[rID].RecipeName+'</h1>';
            
            
            tableHTML+='<p>'+replaceAll(table.Items[rID].RecipeIngredients,'\n', "<br>")+'</p>';
            
            
            document.getElementById('recipeContent').innerHTML = tableHTML;


            /*
                console.log(table.Items.length);
                document.getElementById('recipeTable').innerHTML = '<table id="myTable"> <tr class="header"> <th style="width:60%;">Name</th> <th style="width:40%;">Country</th></tr><tr class ="tableFoods"><td>Alfreds Futterkiste</td><td>Germany</td></tr><tr><td>Berglunds snabbkop</td><td>Sweden</td></tr><tr><td>Island Trading</td><td>UK</td></tr><tr><td>Koniglich Essen</td><td>Germany</td></tr></table>';            
            */
            });
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
  w3_close();
}
  
}
function replaceAll(str, find, replace) {
  return str.replace(new RegExp(find, 'g'), replace);
}
</script>

<!--
    <div>
  <br>
<button id="getReq">Send HTTP GET request to a AWS and get result</button>
<br>
</div>
<div id="result">
  Result
</div>
-->


            <div id="addRecipe"></div>
            
            <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display: block; height: 100%; width: 30%;overflow-y:hidden;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()" style="vertical-align:middle" ><i class="material-icons" id="panelCross" style=" vertical-align: middle;">close</i>Close</button>
  <div  id = "recipeTable" style="overflow-y:scroll; display:block;height:90%;">
                        
                    </div>
</div>

<div id="main" style="height:100%;margin-top:4px;">

<div class="w3-container w3-gray">
  <span class="w3-opennav w3-xlarge" onclick="w3_open()" id="openNav"><i class="material-icons" id="panelArrow">arrow_forward</i></span>
  
</div>



<div class="w3-container" style="height:100%;background-image:url(/bRecipe/img/collage.jpg);background-attachment: fixed;">
<div class="w3-container" id = "recipeContent" style="overflow-y:scroll; display:block;height:90%; background-color: rgb(256, 256, 256); background-color: rgba(256, 256, 256, 0.9);">
                        <h1 > Hello, Welcome to bRecipe </h1>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                    </div>
</div>

</div>

<script>
w3_open()
function w3_open() {
  if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
    document.getElementById("main").style.marginLeft = "100%";
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
  }
  else{
  document.getElementById("main").style.marginLeft = "30%";
  document.getElementById("mySidebar").style.width = "30%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
    
