
<script>
$(document).ready(function(){
    $("#getReq").click(function(){
        $.get("https://km2bai6m1g.execute-api.us-east-1.amazonaws.com/prod/bRecipeDB?TableName=Recipes", function(data, status){
             alert("Data: " + data + "\nStatus: " + status);
            $("#result").text(JSON.stringify(data)  );
        });
      });
    });
</script>
<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
<script>
    $(document).ready(function(){
$.get("https://km2bai6m1g.execute-api.us-east-1.amazonaws.com/prod/bRecipeDB?TableName=Recipes", function(table, status){
             
            console.log(table.Items.length);
            document.getElementById('recipeTable').innerHTML = '<table id="myTable">
                                                                  <tr class="header">
                                                                    <th style="width:60%;">Name</th>
                                                                    <th style="width:40%;">Country</th>
                                                                  </tr>
                                                                  <tr class ="tableFoods">
                                                                    <td>Alfreds Futterkiste</td>
                                                                    <td>Germany</td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td>Berglunds snabbkop</td>
                                                                    <td>Sweden</td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td>Island Trading</td>
                                                                    <td>UK</td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td>Koniglich Essen</td>
                                                                    <td>Germany</td>
                                                                  </tr>
                                                                </table>';
    
            
        });
});
      

</script>

    <div>
  <br>
<button id="getReq">Send HTTP GET request to a AWS and get result</button>
<br>
</div>
<div id="result">
  Result
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                   <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
                   <div class = "recipeTable">
                        
                    </div>
            </div>
            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

