<!-- Page Content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#getReq").click(function(){
        var pRecipeID = 2;
        var pImageLink = 'https://s3-us-west-1.amazonaws.com/brecipe/chicken_biryani.jpg';
        var pRecipeDirections = 'Cut and Mix all of them';
        var pRecipeIngredients = '1.Apple \n 2. Banana';
        var pRecipeName = 'AppleBananaSalad';

      $.ajax({
          url: 'https://km2bai6m1g.execute-api.us-east-1.amazonaws.com/prod/bRecipeDB?TableName=Recipes',
          type: 'POST',
          data: JSON.stringify({"TableName": "Recipes", "Item": {"RecipeID": pRecipeID, "ImageLink": pImageLink, "RecipeIngredients": pRecipeIngredients,"RecipeDirections": pRecipeDirections,"RecipeName": pRecipeName}}),
          success: function(data) {
            alert("POSTed successfully");
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert("Error");
            }
        });
    });
});

</script>
</head>
<body>
<div>
<button id="getReq">Send HTTP POST request to a AWS</button>
</div>
</body>

<div class="container">

    <div class="row">

        <div class="col-lg-4">
            <h1 class="page-header">Services
                <small>What We Do</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

       

    </div>
    <!-- /.row -->


</div>
<!-- /.container -->
