<!-- Page Content -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#getReq").click(function(){
        var pRecipeID = 2;
        var pImageLink = 'https://s3-us-west-1.amazonaws.com/brecipe/chicken_biryani.jpg';
        var pRecipeDirections = 'Cut and Mix all of them';
        var pRecipeIngredients = '1.Apple \n 2. Banana';
        var pRecipeName = 'AppleBananaSalad';
        pRecipeID = pRecipeID+1;
        pRecipeName = document.getElementById("NameInput").value;
        pRecipeIngredients = document.getElementById("IngredientsInput").value;
        pRecipeDirections = document.getElementById("DirectionsInput").value;

      $.ajax({
          url: 'https://km2bai6m1g.execute-api.us-east-1.amazonaws.com/prod/bRecipeDB?TableName=Recipes',
          type: 'POST',
          data: JSON.stringify({"TableName": "Recipes", "Item": {"RecipeID": pRecipeID, "ImageLink": pImageLink, "RecipeIngredients": pRecipeIngredients,"RecipeDirections": pRecipeDirections,"RecipeName": pRecipeName}}),
          success: function(data) {
            alert("POSTed successfully");
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert("Error");
            }
        });
    });
});

</script>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
<script type="text/javascript">
/*
    AWS.config.update({
        accessKeyId : 'ACCESS_KEY',
        secretAccessKey : 'SECRET_KEY'
    });
*/
    AWS.config.region = 'us-west-1';
    $("#fileSubmit").click(function() {
        var bucket = new AWS.S3({params: {Bucket: 'brecipe'}});
        var fileChooser = document.getElementById('file');
        var file = fileChooser.files[0];
        if (file) {
        var params = {Key: 'FILE_NAME', ContentType: file.type, Body: file};
        bucket.upload(params).on('httpUploadProgress', function(evt) {
        console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
        }).send(function(err, data) {
        alert("File uploaded successfully.");
            });
        }
    return false;
    });
</script>

</head>



<div class="container">

    <div class="row">

        <div class="col-lg-4">
            <h1 class="page-header">Services
                <small>What We Do</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Services</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">
         <div class="col-md-16">
            <h2 class="page-header">Add Your Recipe</h2>
            <div class="row">
             <p> Recipe Name </p>   
            <input type="text" id="NameInput" />
        </div>
            <div class="row">
                <p> Recipe Ingredients </p>
            <textarea id="IngredientsInput" rows = "10" ></textarea>
            </div>
            <div class="row">
                <p> Recipe Directions </p>
            <textarea type="text" id="DirectionsInput" rows = "10" ></textarea>
            </div>
            <div class ="row">
            <button id="getReq">Send HTTP POST request to a AWS</button>
            </div>

        </div>
    </div>

    <form id="fileUploadForm" method="post" enctype="multipart/form-data">
<input type="file" name="file" id="file" value="dataFile" required="">
</form>
<div class ="row">
            <button id="fileSubmit">Upload to S3</button>
            </div>
    <!-- /.row -->
 <form action="http://brecipe.s3-us-west-1.amazonaws.com/" method="post" enctype="multipart/form-data">
    Key to upload: 
    <input type="input"  name="key" value="RecipeID" /><br />
    <input type="hidden" name="success_action_redirect" value="http://brecipe.s3-us-west-1.amazonaws.com/successful_upload.html" />
    Content-Type: 
    <input type="input"  name="Content-Type" value="image/jpeg" /><br />
    File: 
    <input type="file"   name="file" /> <br />
    <!-- The elements after this will be ignored -->
    <input type="submit" name="submit" value="Upload to Amazon S3" />
  </form>

</div>
<!-- /.container -->
